body {
    font-family: Arial, sans-serif;
    background-image: url("https://pgaacreativedesign.com/sites/default/files/styles/optimize/public/images/projects_gallery/manila_hotel-_main_pool_dusk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#login-form {
    margin-top: 250px;
}

.bg-gradient {
    opacity: 0.85;
}